:root {
	--fontSize: 40px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body {
	background-color: black;
	font-size: var(--fontSize);
	color: white;
	margin: 0;
	padding: 0;
	font-family:"AsTheyDraw_medium";
}
#container {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	padding: 0 1em;
	width:100vw;
	height: 100vh;
}
#result-container {
	width: 100%;
	height: 80vh;
	border: none;
	overflow-y: scroll;
	overflow-x:hidden;
	padding: 0.5em;
	text-align: center;
	/* background:pink; */
}
#result-container::-webkit-scrollbar {
	display: none;
}
#result {
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 3em;
	line-height:1.1em;
	text-align: center;
	
}

.font_choices {
	position:fixed;
	left: 1rem;
	bottom:1rem;
	display:flex;
	font-size:.5em;
	width:100%;
	display:flex;
	flex-flow: row wrap;
	align-items: end;
	color:#999;
}

.font {
	margin: 0 1rem;
	cursor:pointer;
	position:relative;
}

.font_name, .font_styles {
	display:block;
}

.font_styles {
	font-size: .75em;
	display: none;

	position: absolute;
	left:0;
	bottom: 100%;
	color: white;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
	

	width: 100vw;
	/* background:blue; */
}

.font_style {
	min-width:fit-content;
	/* background:red; */
}

.font:hover {
	color:white;
}

.font:hover .font_styles {
	display: block;
}

.slider-container {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	padding: 20px;
	/* background-color: #f0f0f0; */
	z-index: 100;
}

label {
	writing-mode: vertical-lr;
	text-orientation:sideways;
	margin-bottom: 10px;
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr;
	/* IE */
	-webkit-appearance: slider-vertical;
	/* Chromium */
	
	width: 8px;
	height: 175px;
	padding: 0 5px;
	
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #333;fill: black;
		stroke: none;
}
